
.mnsje{
    text-align: center;
    border-radius: 10px;
    font-size: 25px;

}


.conteo_valido{
    background-color: green;
    color: white;
}

.conteo_novalido{
    background-color: red;
    color: white;
}

th{
    text-align: center;
}

td:nth-child(even){
   text-align: center;
}